
.optionScroll::-webkit-scrollbar{
    height: 5px;
}
.optionScroll::-webkit-scrollbar-track{
    border-radius: 12px;
    background-color: rgb(63 63 70);
  }
  .optionScroll::-webkit-scrollbar-thumb{
    background: rgb(91,33,182);
    background: linear-gradient(90deg, rgba(91,33,182,1) 0%, rgba(22,78,99,1) 100%);
    border-radius: 12px;
  }
.specifiedScroll::-webkit-scrollbar{
  width: 7px;
}
.specifiedScroll::-webkit-scrollbar-track{
  background-color: rgb(63 63 70);
}
.specifiedScroll::-webkit-scrollbar-thumb{
  background: rgb(91,33,182);
  background: linear-gradient(45deg, rgba(91,33,182,1) 0%, rgba(22,78,99,1) 100%);
  border-radius: 12px;
}
  .tapHighlight{
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  .modalOff{
    display: none;
  }
  .modalOpen{
    display: block;
    animation: fadein 400ms ease-in-out;
    transition-duration: all 300ms ease-in-out;

  }
  .userDialogOpen{
    display: block;
    animation: zoom 250ms ease-in-out;

  }
  .fadeinAnime{
    animation: onlyFadein 0.5s ease-in-out;
  }

  .loading{
    animation: rotate 1s infinite linear;
  }
  @keyframes rotate {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
@keyframes fadein {
	from {
		opacity: 0;
    transform: translateY(-14px);
	}

	to {
    opacity: 1;
    transform: translateY(0);
	}
}

@keyframes fadeout {
  from {
    opacity: 1;
    transform: translateY(0);
	}
	to {
    opacity: 0;
    transform: translateY(-14px);
	}
}

@keyframes onlyFadein {
	from {
		opacity: 0;
	}
	to {
    opacity: 1;
	}
}

@keyframes zoom {
	0% {
		opacity: 0;
    transform: scale(0);
	}
  80% {
    transform: scale(1.05);
  }
	100% {
    opacity: 1;
    transform: scale(1);
	}
}



